.itemDetailContainer {
  width: 50%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background-color: white;
  padding: 2rem;
  border-radius: 1.2rem;
  min-height: calc(70vh - 50px);
}

.itemDetailContainer h2 {
  margin: 0.5rem;
  font-size: clamp(0.8rem, 2.5vw, 1.1rem); 
}

.itemDetailContainer p {
  font-size: clamp(0.5rem, 2.5vw, 1rem); 
}

.itemDescription {
  width: 25vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1rem 2rem;
}

.itemDescription p {
  margin-top: 0.8rem;
}

.itemDetailContainer ItemCount {
  display: flex;
  flex-direction: row;
}

.image {
  width: 300px;
  margin: 4rem;
}

.shoppingButtons {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 2rem;
}

.continue {
 padding: 1rem;
}

.shoppingButtons Button {
border-radius: 3rem;
}
