.itemDetailContainer {
  width: 400px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: white;
  padding: 2rem;
  border-radius: 1.2rem;
}

.itemDetailContainer h3,h4 {
  margin: 0.5rem;
}

.image {
  width: 200px;
}