.titleForm {
  font-size: clamp(1rem, 2.5vw, 2rem); 
  margin:1rem;
}

.formContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  min-height: calc(83vh - 42px);
}

.checkoutForm {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 50%;
  background-color: white;
  margin: 2.5rem;
  border-radius: 1rem;
  min-height: calc(55vh - 20px);
}

.checkoutForm Button {
  width: 10%;
  margin: 3rem;
}
.checkoutForm input {
  width: 60%;
  padding:0.5rem;
  border-radius: 0.8rem;
  box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.2), 0 6px 8px 0 rgba(0, 0, 0, 0.19);
  margin: 0.5rem;
  border-color: rgba(0, 0, 0, 0.559);
}
label {
  padding: 0.5rem;
  font-size: clamp(0.8rem, 2.5vw, 1.2rem); 
}