.cartContainer {
  display:flex;
  justify-content: center;
  margin: 3rem;
  min-height: calc(70vh - 35px);
}

.cartTitle {
  margin: 2rem 8rem;
}

.cartList {
  background-color: white;
  width: 80%;
  border-radius: 0.5rem;
}

.cartNotification {
  text-align: center;
  color: rgb(144, 139, 139);
  font-size: 2rem;
  margin: 5rem;
}

.cartTotalSection {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  margin: 0rem 8rem 1.5rem 8rem;
  border-top: solid rgba(144, 139, 139, 0.215);
}

.cartTotalSection Button {
  width: 180px;
  margin: 0 0 1rem;
  border-radius: 2rem;
}

.cartItem {
  display : flex;
  justify-content:center;
  align-items:center;
  margin: 0rem 8rem;
  border-top: solid rgba(144, 139, 139, 0.215);
}

.cartItem div {
  text-align: center;
  padding-right: 5rem;
  width: 20%;
}

.cartItem img {
  padding-right: 5rem;
  width:20%;
}

.cartItem h2 {
  padding-right: 5rem;
  width:20%;
}

.cartItem p {
  color: rgb(144, 139, 139);
  font-size: 1rem;
}

.cartItem IconButton {
  width: 10%;
}

.cartTotalSection h3 { 
  margin-top: 2rem;
}

.cartTotalSection p {
  margin-top: 1rem;
  margin-bottom: 2rem;
}